<!DOCTYPE html>
<head>
    <title>Reset Password</title>
</head>
<body>

    <div id="set-password">
        <h3>Set New Password</h3>
        <br>
        <form action="/users/set-new-password" method="POST">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email">
            <br>
            <label for="otp">OTP:</label>
            <input id="otp" type="number" name="otp">
            <br>
            <label for="password">New Password:</label>
            <input id="password" type="password" name="password">
            <br>
            <label for="confirm-password">Confirm New Password:</label>
            <input id="confirm-password" type="password" name="confirm_password">
            <input type="submit" value="Reset">
        </form>
    </div>
    
</body>
</html>