
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Sign In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="<%=assetPath('/css/signin.css')%>"> -->
</head>

<style>
    h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 50px
    }
    #parent-sign-in{
        border: 2px solid;
        width:45vw;
        text-align: center;
        margin-top: 30px;
        height: 80vh;
    }
    .info
    {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: grey;
    }
    .forminfo
    {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:black;
        font-size: 20px;
        font-weight: 500;
    
    }
    #quick
    {

    }
  
    #glogo
    {
        height: 50px;
        width: 50px;
        border-radius: 50%;
       
    }
    .si {
    outline: none;
    padding: 3px;
    margin: 4px;
    border: none;
    height: 40px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #000000;
    transition: width 0.4s ease-in-out;
    flex-shrink: 0;
    padding-left: 10px;
  }
   input[type=email]:focus {
      background-color: none;
      /* border: 3px solid #555; */
      color:rgb(82, 82, 82);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  input[type=submit]
  {
        outline: none;
    border: none;
    height: 40px;
    padding: 2px 10px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color: white;
    font-size: 20px;
    background-color: #ff6d2a;
    border-radius: 8px;
  }
</style>
<body>
    
   
    <div id="parent-sign-in">
    <h1>Sign In</h1>

    <p class="info">Quick sign avalilable using</p> 
    <a href="/users/auth/google">  <img id="glogo" src="<%=assetPath('/img/google-logo.png')%>" alt="G+"></img> </a>
    <br><br><br><br>
    <div id="enter-details" class="info">Or, enter your details</div>
    <form action="/users/create-session" method="POST" id="signin">
        <br>
        <div class="forminfo">Email address</div>
        <input class="si" type="email" name="email" placeholder="email@mail.com"  required> <br> <br>
        <div class="forminfo">Password</div>
        <input class="si" type="password" name="password" placeholder="Password"  required> <br><br>
        <input class="submit" type="submit" value="Sign In">

    </form>
    <div id="forgot-possword">
        <h3>Forgor Password?</h3>
        <form action="/users/forgot-password" method="POST">
            <input type="email" name="email" placeholder="email" required>
            <input type="submit" value="Reset Password">
        </form>
    </div>
    

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script>
            <%if((flash.success)&&(flash.success.length>0)){%>
                new Noty({
                theme: 'relax',
                text: '<%=flash.success%>',
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show();
            <%}else if((flash.error)&&(flash.error.length>0)){%>
                new Noty({
                theme: 'relax',
                text: '<%=flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout: 1500
                }).show();
            <%}%>
    </script>
</body>
</html>
